<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 150px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 40px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.8;
        }
    </style>
</head>

<body>

    <h1>CRECIMIENTO URBANO Y TRANSFORMACIÓN DEL USO DEL SUELO</h1>

    <h2>Integrantes</h2>

    <p>
        Daniel Alejandro Bernal Sánchez<br>
        Carlos Dariel Pinilla Ritiva<br>
        Juan Manuel Ramirez Araque
    </p>

</body>
</html>